# Core dependencies
fastapi
uvicorn[standard]
pymongo
pydantic
watchdog

# AWS integration
boto3
botocore

# Utilities
python-dotenv
python-multipart
python-jose[cryptography]
pandas
tabulate

# Development dependencies
pytest
pytest-asyncio
httpx

# Packaging and distribution
setuptools